
/********************************************************************
 * SPDX-License-Identifier: (GPL-2.0+ OR MIT)
 * 
 * Copyright (c) 2023 Rockchip Electronics Co., Ltd.
 * Copyright (c) 2026 LCKFB <lckfb@sz-jlc.com>
 *********************************************************************
 * Wiki-(Chinese)：https://wiki.lckfb.com/
 * Wiki-(English)：https://wiki.lckfb.com/en/
 *********************************************************************/

/*-----------------------------------------------------------
 * Camera Power Enable
 *----------------------------------------------------------*/
&vcc_1v2_mipi_csi {
	status = "okay";
};

&vcc_1v8_mipi_csi {
    status = "okay";
};

&vcc_2v8_mipi_csi {
    status = "okay";
};

/*-----------------------------------------------------------
 * Camera Link Configuration
 *----------------------------------------------------------*/
&i2c5 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c5m3_xfer>;
	clock-frequency = <400000>;

	imx586_1: camera@1a {
		compatible = "sony,imx586";
		reg = <0x1a>;

		clocks = <&cru CLK_MIPI_CAMERAOUT_M1>;
		clock-names = "xvclk";
		pinctrl-names = "default";
		pinctrl-0 = <&cam_clk1m0_clk1>;
		power-domains = <&power RK3576_PD_VI>;

		avdd-supply = <&vcc_mipicsi1_avdd>;
		dovdd-supply = <&vcc_mipicsi1_dovdd>;
		dvdd-supply = <&vcc_mipicsi1_dvdd>;

		reset-gpios = <&gpio1 RK_PC4 GPIO_ACTIVE_HIGH>;

		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "default";
		rockchip,camera-module-lens-name = "default";
		rockchip,camera-hdr-mode = <0>;
		/* Free-running until the external MCU XVS source is installed. */

		port {
			imx586_1_out: endpoint {
				remote-endpoint = <&dphy0_in_imx586_1>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&csi2_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			dphy0_in_imx586_1: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&imx586_1_out>;
				data-lanes = <1 2 3 4>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy0_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi1_csi2_input>;
			};
		};
	};
};

&mipi1_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi1_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy0_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi1_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi1_in0>;
			};
		};
	};
};

&rkcif_mipi_lvds1 {
	status = "okay";

	port {
		cif_mipi1_in0: endpoint {
			remote-endpoint = <&mipi1_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds1_sditf {
	status = "okay";

	port {
		mipi1_lvds_sditf: endpoint {
			remote-endpoint = <&isp_vir1>;
		};
	};
};

&rkisp_vir1 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp_vir1: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi1_lvds_sditf>;
		};
	};
};

/*-----------------------------------------------------------
 * MIPI-CSI-1 Link Virtual Interface Enable
 *----------------------------------------------------------*/
&rkisp_vir1_sditf {
	status = "okay";
};

&rkvpss_vir1 {
	status = "okay";
};

/*-----------------------------------------------------------
 * General Configuration
 *----------------------------------------------------------*/
&rkcif {
	status = "okay";
};

&rkcif_mmu {
	status = "okay";
};

&rkisp {
	status = "okay";
};

&rkisp_mmu {
	status = "okay";
};

&rkvpss {
	status = "okay";
};

&rkvpss_mmu {
	status = "okay";
};
