# PCL RV1126B dual-IMX586 camera board V1
RK_ROOTFS_PREBUILT_TOOLS=y
RK_UBOOT_SPL=y
RK_UBOOT_CFG="pcl_1126b_camera"
RK_KERNEL_CFG="alientek_rv1126b_defconfig"
RK_KERNEL_CFG_FRAGMENTS="pcl_1126b.config"
RK_KERNEL_DTS_NAME="rv1126b-pcl-camera-v1"
RK_KERNEL_MULTI_DTS=""
RK_BUILDROOT_CFG="alientek_rv1126b"
RK_RECOVERY_BASE_CFG="alientek_rv1126b"
RK_ROOTFS_HOSTNAME_CUSTOM=y
RK_ROOTFS_HOSTNAME="PCL-RV1126B-CAMERA"
RK_USE_FIT_IMG=y
RK_WIFIBT=n
RK_ROOTFS_INSTALL_MODULES=y
RK_USB_GADGET=y
RK_USB_ADBD=y
RK_USB_ADBD_TCP=y
RK_USB_ADBD_TCP_PORT=5555
RK_USB_ADBD_SHELL="/bin/bash"
RK_USB_NCM=y
RK_ROOTFS_EXTRA_OVERLAY_DIRS="pcl-camera"
